<div class="review-container">
  {{#if reviews}}
  {{#each reviews}}
  <ul class="review">
    {{#if ../fromUserProfile }}
    <li class="review__item review__resource"><a href="/resource/{{this.resource_id}}">{{this.resource_name}}</a></li>
    {{else if ../fromResourceProfile }}
    <li class="review__item review__user"><a href="/user/{{this.user_id}}">{{this.username}}</a></li>

    {{else}}
    <li class="review__item review__resource"><a href="/resource/{{this.resource_id}}">{{this.resource_name}}</a></li>
    <li class="review__item review__user"><a href="/user/{{this.user_id}}">{{this.username}}</a></li>
    {{/if}}

    <li class="review__item review__date">{{this.creation_date}}</li>
    <li class="review__item review__body">{{this.review_content}}</li>
    <li>{{this.rating}} / 5</li>

    {{#if this.canEdit }}
    <li class="review__item review__edit"><a href="/edit/{{this.review_id}}">Edit</a></li>
    <li class="review__item review__delete"><a href="/delete/{{this.review_id}}">Delete</a></li>
    {{/if}}
  </ul>
  {{/each}}
  {{else}}
  <h2>This resource doesn't have any reviews yet. Be the first to leave a review!</h2>
  {{/if}}
</div>
