<div class="review-container">
  <h3>Reviews</h3>
  {{#each reviews}}
  <ul class="review">
    {{#if this.resource }}
    <li class="review__item review__resource"><a href="/resource/{{this.resource_id}}">{{this.resource}}</a></li>
    {{/if}}

    {{#if this.user }}
    <li class="review__item review__user"><a href="/review/{{this.user_id}}">{{this.user}}</a></li>
    {{/if}}

    <li class="review__item review__date">{{this.creation_date}}</li>
    <li class="review__item review__body">{{this.review_content}}</li>

    {{#if this.canEdit }}
    <li class="review__item review__edit"><a href="/edit/{{this.review_id}}">Edit</a></li>
    <li class="review__item review__delete"><a href="/delete/{{this.review_id}}">Delete</a></li>
    {{/if}}
  </ul>
  {{/each}}
</div>
