<table class="review-table">
  <tr class="review-table__row review-table__row-header">
    <th class="review-table__header">Resource</th>
    <th class="review-table__header">User</th>
    <th class="review-table__header">Date</th>
    <th class="review-table__header">Rating</th>
    <th class="review-table__header">Snippet</th>
  </tr>
  {{#each reviews}}
  <tr class="review-table__row">
    <td class="review-table__cell review-table__review"><a href="/review/{{this.resource_id}}" title="{{this.resource}}">{{this.resource}}</a></td>
    <td class="review-table__cell review-table__type"><a href="/review/{{this.user_id}}" title="{{this.user}}">{{this.user}}</a></td>
    <td class="review-table__cell review-table__date">{{this.date}}</td>
    <td class="review-table__cell review-table__rating">{{this.rating}}</td>
  </tr>
  {{/each}}
</table>
