{{!< layout/default}}
<nav class='nav'>{{> login_header}}</nav>
<h3 class='login-warning'>{{message}}</h3>
<form class="login-form" method="POST" action="/login">
  <label class="login-form__username-label" for="username">Username:</label>
  <input class="login-form__username-input" type="text" id="username" name="username" placeholder="Enter your username" required/>
  <label class="login-form__password-label" for="username">Password:</label>
  <input class="login-form__password-input" type="password" id="password" name="password" placeholder="Enter your password" required/>
  <input class="login-form__submit" type="submit" value='Log in'/>
</form>
<a class="login-back" href="/home">Back</a>
