{{!< layout/default}}
<nav class='nav'>{{> header}}</nav>
<div class="resource-profile">
  <a href="{{resource_url}}" target='blank'><img class="resource-profile__image" src='/{{image_url}}' alt="{{resource_name}} image"/></a>
  <a href="{{resource_url}}" target='blank'><h1 class="resource-profile__header">{{resource_name}}</h1></a>
  <h3 class="resource-profile__type">{{type}}</h3>
  <h3 class="resource-profile__rating">Overall Rating: {{rating}}</h3>
  <div class='reviews-container'>{{> reviews fromResourceProfile=true}}</div>
  <a class="back-to-resources" href="/resources" target="blank" title="back to resources">Back To Resources</a>
  {{#if loggedIn}}
    <form class="form" method="POST" action="/addreview/{{resource_id}}">
      <label class="form__text-label" for="review_content">Your Review: </label>
        <textarea class="form__text" id="review_content" name="review_content"></textarea>
      <label class="form__rating-label" for="rating">Rating: </label>
        <select class="form__rating-select" id="rating" name="rating">
          <option class="form__rating-option" value="1">1</option>
          <option class="form__rating-option" value="2">2</option>
          <option class="form__rating-option" value="3">3</option>
          <option class="form__rating-option" value="4">4</option>
          <option class="form__rating-option" value="5">5</option>
        </select>
      <input class="form__submit" type="submit" />
    </form>
  {{else}}
    <h4>Log in to submit a review</h4>
  {{/if}}
</div>
