<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Badgerer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="containers">
    {{{content}}}
    </div>
        <footer class="footer">This incredible web app was made by the <a href="https://github.com/FAC9/the-badgerer" class="footer__link" target="blank" title="See our GitHub repo">Backend Badgers</a>.</footer>
  </body>
</html>
